* {
  margin: 0;
  padding: 0;
}

.overflow-hidden {
  overflow: hidden;
}

span.navigator {
  background-color: #303030;
  border: 0.5px solid #c1c1c1;
  bottom: 0;
  box-sizing: border-box;
  height: 48px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

span.navigator a.button {
  color: #c1c1c1;
  float: left;
  padding: 12px 10.3vw;
  text-align: center;
  text-decoration: none;
  width: 16px;
}

#settings {
  color: #c1c1c1;
  height: 100%;
  opacity: 0;
  padding-top: 60%;
  position: fixed;
  width: 100%;
  z-index: -1;
}

#settings.enabled {
  opacity: 1;
  z-index: 989;
}

#settings div.settings-body {
  border: 0.5px solid #c1c1c1;
  margin: auto;
  width: 390px;
}

#settings div.settings-body header.settings-header {
  background-color: black;
  border: 0.5px solid #c1c1c1;
  text-align: center;
}

#settings div.settings-body main.setting-body {
  background-color: #303030;
  text-align: center;
}

#settings div.settings-body main.setting-body div.setting {
  display: table-row;
  padding-bottom: 20px;
}

#settings div.settings-body main.setting-body div.setting label {
  display: table-cell;
  padding-right: 10px;
  vertical-align: middle;
}

#font-size div.font-size-body span.font-size-button {
  color: #c1c1c1;
  padding: 10px;
}

#font-size div.font-size-body input.font-size-input {
  font-size: 100%;
  text-align: center;
}

#change-background div.change-background-body span.change-background-button {
  float: left;
  height: 32px;
  padding: 8px;
  width: 32px;
}

#white, #sepia {
  border: 1px solid black;
}

#gray, #black {
  border: 1px solid white;
}