@import 'html5reset-1.6.1.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

div.container {
  background: url('../img/background.jpeg') no-repeat center top;
  height: 100vh;
  position: relative;
  width: 100vw;
}

span.navcenter {
  background-color: #0000006f;
  border-radius: 5%;
  color: #fff;
  left: 50%;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

img.avatar {
  border-radius: 10%;
  height: 200px;
  width: 200px;
}

span.navcenter h1 {
  font-size: 1.55rem;
  line-height: 1.2em;
  margin-top: 10%;
}

span.navcenter hr {
  width: 100%;
}

span.navcenter ol {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin-top: 16px;
}

span.navcenter a {
  color: #fff;
}

span.navcenter a:link {
  text-decoration: none;
  transition: 0.1s ease-in;
}

span.navcenter a:hover {
  text-shadow: 0px 0px 5px;
}

p.copyright {
  color: #fff;
  position: absolute;
}

@media only screen and (min-width: 751px) {
  div.container {
    height: 100%;
    min-width: 1280px;
    width: 100%;
  }

  p.copyright {
    bottom: 40px;
    font-size: 10px;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  div.container {
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 100vh;
  }

  img.pc {
    display: none;
  }

  p.copyright {
    bottom: 3vw;
    font-size: 0.6rem;
    line-height: 1.4em;
    text-align: center;
    width: 100%;
  }
}