/* White/Default

   A preset color for white background, which is the default */


/* CONFIG */

:root {
  --backgroundColor: #fff;
  --textColor: #000;

  --linkColor: #00f;
}

:root {
  background-color: var(--backgroundColor) !important;
  color: var(--textColor) !important;
}

:root a:link,
:root a:link *,
:root a:visited,
:root a:visited * {
  color: var(--linkColor);
}