// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "jquery": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    // disable requiring trailing commas because it might be nice to revert to
    // being JSON at some point, and I don't want to make big changes now.
    "comma-dangle": "off",

    "max-len": "off",

    "no-await-in-loop": "warn",
    "no-unused-vars": "warn",
    "no-use-before-define": "warn",
    "max-classes-per-file": "warn",
    "no-param-reassign": "warn",
    "no-return-assign": "warn",
    "no-underscore-dangle": "warn"
  }
}
