@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* A-OTF Ryumin Pr5 */

@font-face {
  font-display: swap;
  font-family: 'A-OTF Ryumin Pr5';
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/A-OTF%20Ryumin%20Pr5%20R-KL.otf) format('opentype');
}

/* Bookerly */

@font-face {
  font-display: swap;
  font-family: 'Bookerly';
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Bookerly/BookerlyLCD_Rg.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Bookerly';
  font-style: italic;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Bookerly/BookerlyLCD_It.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Bookerly';
  font-weight: bold;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Bookerly/BookerlyLCD_Bd.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Bookerly';
  font-style: italic;
  font-weight: bold;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Bookerly/BookerlyLCD_BdIt.ttf) format('truetype');
}

/* Canela */

@font-face {
  font-display: swap;
  font-family: 'Canela';
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Canela/Canela.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Canela';
  font-weight: bold;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Canela/Canela-Bold.ttf) format('truetype');
}

/* charter */

@font-face {
  font-display: swap;
  font-family: 'charter';
  src: local('Charter'), url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Charter/Charter%20Regular.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'charter';
  font-style: italic;
  src: local('Charter'), url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Charter/Charter%20Italic.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'charter';
  font-weight: bold;
  src: local('Charter'), url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Charter/Charter%20Bold.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'charter';
  font-style: italic;
  font-weight: bold;
  src: local('Charter'), url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Charter/Charter%20Bold%20Italic.ttf) format('truetype');
}

/* Crimson Text */

/* Hiragino Mincho */

@font-face {
  font-display: swap;
  font-family: 'Hiragino Mincho';
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/HiraginoMin/HiraginoMin-W3-90msp-RKSJ-H-01.ttf) format('truetype');
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF;
}

@font-face {
  font-display: swap;
  font-family: 'Hiragino Mincho';
  font-weight: bold;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/HiraginoMin/HiraginoMin-W6-90msp-RKSJ-H-01.ttf) format('truetype');
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF;
}

/* hiraginoMinchoPro */

@font-face {
  font-display: swap;
  font-family: hiraginoMinchoPro;
  src: local('Hiragino Mincho Pro'), url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Hiragino%20Mincho%20Pro/HiraMinProN-W3-AlphaNum-02.otf) format('opentype');
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF;
}

@font-face {
  font-display: swap;
  font-family: hiraginoMinchoPro;
  font-weight: bold;
  src: local('Hiragino Mincho Pro'), url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Hiragino%20Mincho%20Pro/HiraMinProN-W6-AlphaNum-04.otf) format('opentype');
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF;
}

/* hiraginoMinchoProN */

@font-face {
  font-display: swap;
  font-family: hiraginoMinchoProN;
  src: local('Hiragino Mincho ProN'), url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Hiragino%20Mincho%20ProN/HiraMinProN-W3-AlphaNum-01.otf) format('opentype');
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF;
}

@font-face {
  font-display: swap;
  font-family: hiraginoMinchoProN;
  font-weight: bold;
  src: local('Hiragino Mincho ProN'), url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Hiragino%20Mincho%20ProN/HiraMinProN-W6-AlphaNum-03.otf) format('opentype');
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF;
}

/* Hiragino Mincho ProN */

@font-face {
  font-display: swap;
  font-family: 'Hiragino Mincho ProN';
  src: local('Hiragino Mincho ProN'), url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Hiragino%20Mincho%20ProN/HiraMinProN-W3-AlphaNum-01.otf) format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Hiragino Mincho ProN';
  font-weight: bold;
  src: local('Hiragino Mincho ProN'), url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Hiragino%20Mincho%20ProN/HiraMinProN-W6-AlphaNum-03.otf) format('opentype');
}

/* Literata */

/* New York */

@font-face {
  font-display: swap;
  font-family: 'New York';
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/New%20York/NewYork.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'New York';
  font-style: italic;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/New%20York/NewYorkItalic.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'New York';
  font-weight: bold;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/New%20York/NewYork.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'New York';
  font-style: italic;
  font-weight: bold;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/New%20York/NewYorkItalic.ttf) format('truetype');
}

/* Noto Serif */

@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Bookerly/BookerlyLCD_Rg.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: italic;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Bookerly/BookerlyLCD_It.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-weight: bold;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Bookerly/BookerlyLCD_Bd.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: bold;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Bookerly/BookerlyLCD_BdIt.ttf) format('truetype');
}

/* pingFangSC */

@font-face {
  font-display: swap;
  font-family: pingFangSC;
  src: local('PingFang SC'), url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PingFang%20SC/pingfang%20sc-regular.otf) format('opentype');
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF;
}

@font-face {
  font-display: swap;
  font-family: pingFangSC;
  font-weight: 500;
  src: local('PingFang SC'), url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PingFang%20SC/pingfang%20sc-medium.otf) format('opentype');
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF;
}

@font-face {
  font-display: swap;
  font-family: pingFangSC;
  font-weight: bold;
  src: local('PingFang SC'), url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PingFang%20SC/pingfang%20sc-bold.otf) format('opentype');
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF;
}

/* Proxima Nova Rg */

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova Rg';
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Proxima%20Nova%20Rg/Proxima%20Nova%20Regular.otf) format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova Rg';
  font-style: italic;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Proxima%20Nova%20Rg/Proxima%20Nova%20Regular%20Italic.otf) format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Proxima%20Nova%20Rg/Proxima%20Nova%20Bold.otf) format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova Rg';
  font-style: italic;
  font-weight: bold;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Proxima%20Nova%20Rg/Proxima%20Nova%20Bold%20Italic.otf) format('opentype');
}

/* Publico Text Web */

@font-face {
  font-display: swap;
  font-family: 'Publico Text Web';
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Publico%20Text%20Web/Publico%20Text%20Web%20Regular.ttf) format('truetype');

@font-face {
  font-display: swap;
  font-family: 'Publico Text Web';
  font-style: italic;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Publico%20Text%20Web/Publico%20Text%20Web%20Italic.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Publico Text Web';
  font-weight: bold;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Publico%20Text%20Web/Publico%20Text%20Web%20Bold.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Publico Text Web';
  font-style: italic;
  font-weight: bold;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Publico%20Text%20Web/Publico%20Text%20Web%20Bold%20Italic.ttf) format('truetype');
}

/* Roboto */

/* SF Pro Text */

@font-face {
  font-display: swap;
  font-family: 'SF Pro Text';
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SF%20Pro%20Text/SF-Pro-Text-Regular.otf) format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Text';
  font-style: italic;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SF%20Pro%20Text/SF-Pro-Text-RegularItalic.otf) format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Text';
  font-weight: bold;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SF%20Pro%20Text/SF-Pro-Text-Bold.otf) format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Text';
  font-style: italic;
  font-weight: bold;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SF%20Pro%20Text/SF-Pro-Text-BoldItalic.otf) format('opentype');
}
