/* Apple SD Gothic Neo */

@font-face {
  font-family: appleSDGothicNeo;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/AppleSDGothicNeo/AppleSDGothicNeoR00-01.otf) format('opentype');
}

@font-face {
  font-family: appleSDGothicNeo;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/AppleSDGothicNeo/AppleSDGothicNeoB00-07.otf) format('opentype');
}

/* Avenir */

@font-face {
  font-family: avenir;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Avenir-Roman.ttf) format('truetype');
}

/* A-OTF Ryumin Pr5 */

@font-face {
  font-family: aOTFRyuminPr5;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/A-OTF%20Ryumin%20Pr5%20R-KL.otf) format('opentype');
}

/* Baskerville */

@font-face {
  font-family: baskerville;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Baskerville/Baskerville.ttf) format('truetype');
}

@font-face {
  font-family: baskerville;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Baskerville/Baskerville%20Italic.ttf) format('truetype');
}

@font-face {
  font-family: baskerville;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Baskerville/Baskerville%20Bold.ttf) format('truetype');
}

@font-face {
  font-family: baskerville;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Baskerville/Baskerville%20Bold%20Italic.ttf) format('truetype');
}

/* Bookerly */

@font-face {
  font-family: bookerly;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Bookerly/BookerlyLCD_W_Rg.woff2) format('woff2');
}

@font-face {
  font-family: bookerly;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Bookerly/BookerlyLCD_W_RgIt.woff2) format('woff2');
}

@font-face {
  font-family: bookerly;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Bookerly/BookerlyLCD_W_Bd.woff2) format('woff2');
}

@font-face {
  font-family: bookerly;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Bookerly/BookerlyLCD_W_BdIt.woff2) format('woff2');
}

/* Canela Text */

@font-face {
  font-family: canelaText;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/CanelaText/CanelaText-Regular-Cy-Gr-Web.woff2) format('woff2');
}

@font-face {
  font-family: canelaText;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/CanelaText/CanelaText-RegularItalic-Cy-Gr-Web.woff2) format('woff2');
}

@font-face {
  font-family: canelaText;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/CanelaText/CanelaText-Bold-Cy-Gr-Web.woff2) format('woff2');
}

@font-face {
  font-family: canelaText;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/CanelaText/CanelaText-BoldItalic-Cy-Gr-Web.woff2) format('woff2');
}

/* Charter */

@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Charter%20210112/Charter%20Regular.ttf) format('truetype');
}

@font-face {
  font-family: charter;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Charter%20210112/Charter%20Italic.ttf) format('truetype');
}

@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Charter%20210112/Charter%20Bold.ttf) format('truetype');
}

@font-face {
  font-family: charter;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Charter%20210112/Charter%20Bold%20Italic.ttf) format('truetype');
}

/* Cochin */

@font-face {
  font-family: cochin;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Cochin/Cochin.ttf) format('truetype');
}

@font-face {
  font-family: cochin;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Cochin/Cochin-Italic.ttf) format('truetype');
}

@font-face {
  font-family: cochin;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Cochin/Cochin-Bold.ttf) format('truetype');
}

@font-face {
  font-family: cochin;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Cochin/Cochin-BoldItalic.ttf) format('truetype');
}

/* Crimson Text */

@font-face {
  font-family: crimsonText;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Crimson_Text/CrimsonText-Regular.ttf) format('truetype');
}

@font-face {
  font-family: crimsonText;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Crimson_Text/CrimsonText-Italic.ttf) format('truetype');
}

@font-face {
  font-family: crimsonText;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Crimson_Text/CrimsonText-Bold.ttf) format('truetype');
}

@font-face {
  font-family: crimsonText;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Crimson_Text/CrimsonText-BoldItalic.ttf) format('truetype');
}

/* Helvetica */

@font-face {
  font-family: helvetica;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Helvetica/Helvetica.ttf) format('truetype');
}

@font-face {
  font-family: helvetica;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Helvetica/Helvetica%20Bold.ttf) format('truetype');
}

/* HiraginoMin */

@font-face {
  font-family: hiraginomin;
  font-style: normal;
  font-weight: 300;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/HiraginoMin-W3-90msp-RKSJ-H-01.ttf) format('truetype');
}

@font-face {
  font-family: hiraginomin;
  font-style: normal;
  font-weight: 600;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/HiraginoMin-W6-90msp-RKSJ-H-01.ttf) format('truetype');
}

/* Hiragino Mincho Pro */

@font-face {
  font-family: hiraginoMinchoPro;
  font-style: normal;
  font-weight: 300;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/HiraMinProN/HiraMinProN-W3-AlphaNum-02.otf) format('opentype');
}

@font-face {
  font-family: hiraginoMinchoPro;
  font-style: normal;
  font-weight: 600;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/HiraMinProN/HiraMinProN-W6-AlphaNum-04.otf) format('opentype');
}

/* Hiragino Mincho ProN */

@font-face {
  font-family: hiraginoMinchoPron;
  font-style: normal;
  font-weight: 300;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/HiraMinProN/HiraMinProN-W3-AlphaNum-01.otf) format('opentype');
}

@font-face {
  font-family: hiraginoMinchoPron;
  font-style: normal;
  font-weight: 600;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/HiraMinProN/HiraMinProN-W6-AlphaNum-03.otf) format('opentype');
}

/* Hiragino Sans */

@font-face {
  font-family: hiraginoSans;
  font-style: normal;
  font-weight: 300;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/HiraKakuProN-W3-AlphaNum-01.otf) format('opentype');
}

@font-face {
  font-family: hiraginoSans;
  font-style: normal;
  font-weight: 600;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/HiraKakuProN-W6-AlphaNum-01.otf) format('opentype');
}

/* iCiel Domaine Text */

@font-face {
  font-family: icielDomaineText;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/iCielDomaineText-Regular.ttf) format('truetype');
}

/* Literata */

@font-face {
  font-family: literata;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Literata/Literata-VariableFont_opsz,wght.ttf) format('truetype');
}

@font-face {
  font-family: literata;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Literata/Literata-Italic-VariableFont_opsz,wght.ttf) format('truetype');
}

@font-face {
  font-family: literata;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Literata/Literata-VariableFont_opsz,wght.ttf) format('truetype');
}

@font-face {
  font-family: literata;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Literata/Literata-Italic-VariableFont_opsz,wght.ttf) format('truetype');
}

/* Minion Pro */

@font-face {
  font-family: minionPro;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Minion%20Pro/MinionPro-Regular.otf) format('opentype');
}

@font-face {
  font-family: minionPro;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Minion%20Pro/MinionPro-It.otf) format('opentype');
}

@font-face {
  font-family: minionPro;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Minion%20Pro/MinionPro-Bold.otf) format('opentype');
}

@font-face {
  font-family: minionPro;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Minion%20Pro/MinionPro-BoldIt.otf) format('opentype');
}

/* New York */

@font-face {
  font-family: newYork;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/NY%20Fonts/NewYork.ttf) format('truetype');
}

@font-face {
  font-family: newYork;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/NY%20Fonts/NewYorkItalic.ttf) format('truetype');
}

@font-face {
  font-family: newYork;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/NY%20Fonts/NewYork.ttf) format('truetype');
}

@font-face {
  font-family: newYork;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/NY%20Fonts/NewYorkItalic.ttf) format('truetype');
}

/* Noto Serif */

@font-face {
  font-family: notoSerif;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Noto_Serif/NotoSerif-VariableFont_wdth,wght.ttf) format('truetype');
}

@font-face {
  font-family: notoSerif;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Noto_Serif/NotoSerif-Italic-VariableFont_wdth,wght.ttf) format('truetype');
}

@font-face {
  font-family: notoSerif;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Noto_Serif/NotoSerif-VariableFont_wdth,wght.ttf) format('truetype');
}

@font-face {
  font-family: notoSerif;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Noto_Serif/NotoSerif-Italic-VariableFont_wdth,wght.ttf) format('truetype');
}

/* OpenDyslexic */

@font-face {
  font-family: opendyslexic;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/opendyslexic-0.91.12/OpenDyslexic-Regular.woff2) format('woff2');
}

@font-face {
  font-family: opendyslexic;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/opendyslexic-0.91.12/OpenDyslexic-Italic.woff2) format('woff2');
}

@font-face {
  font-family: opendyslexic;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/opendyslexic-0.91.12/OpenDyslexic-Bold.woff2) format('woff2');
}

@font-face {
  font-family: opendyslexic;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/opendyslexic-0.91.12/OpenDyslexic-Bold-Italic.woff2) format('woff2');
}

/* Optima */

@font-face {
  font-family: optima;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Optima/Optima-Regular.ttf) format('truetype');
}

@font-face {
  font-family: optima;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Optima/Optima-Italic.ttf) format('truetype');
}

@font-face {
  font-family: optima;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Optima/Optima-Bold.ttf) format('truetype');
}

@font-face {
  font-family: optima;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Optima/Optima-BoldItalic.ttf) format('truetype');
}

/* P22 Typewriter */

@font-face {
  font-family: p22Typewriter;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/P22-Typewriter-Regular.ttf) format('truetype');
}

/* Palatino */

@font-face {
  font-family: palatino;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Palatino/Palatino-Roman.ttf) format('truetype');
}

@font-face {
  font-family: palatino;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Palatino/Palatino-Italic.ttf) format('truetype');
}

@font-face {
  font-family: palatino;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Palatino/Palatino-Bold.ttf) format('truetype');
}

@font-face {
  font-family: palatino;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Palatino/Palatino-BoldItalic.ttf) format('truetype');
}

/* PingFang HK */

@font-face {
  font-family: pingfangHK;
  font-style: normal;
  font-weight: 300;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PingFang/PingFangHK-Light.ttf) format('truetype');
}

@font-face {
  font-family: pingfangHK;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PingFang/PingFangHK-Regular.ttf) format('truetype');
}

@font-face {
  font-family: pingfangHK;
  font-style: normal;
  font-weight: 600;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PingFang/PingFangHK-Semibold.ttf) format('truetype');
}

/* PingFang SC */

@font-face {
  font-family: pingfangSC;
  font-style: normal;
  font-weight: 300;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PingFang/PingFangSC-Light.ttf) format('truetype');
}

@font-face {
  font-family: pingfangSC;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PingFang/PingFangSC-Regular.ttf) format('truetype');
}

@font-face {
  font-family: pingfangSC;
  font-style: normal;
  font-weight: 600;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PingFang/PingFangSC-Semibold.ttf) format('truetype');
}

/* PingFang TC */

@font-face {
  font-family: pingfangTC;
  font-style: normal;
  font-weight: 300;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PingFang/PingFangTC-Light.ttf) format('truetype');
}

@font-face {
  font-family: pingfangTC;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PingFang/PingFangTC-Regular.ttf) format('truetype');
}

@font-face {
  font-family: pingfangTC;
  font-style: normal;
  font-weight: 600;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PingFang/PingFangTC-Semibold.ttf) format('truetype');
}

/* Proxima Nova */

@font-face {
  font-family: proximaNova;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Proxima%20Nova/4804126351ff7b5bfa0a67af723b94214e61a5a9.woff2) format('woff2');
}

@font-face {
  font-family: proximaNova;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Proxima%20Nova/6a0c2be88d4ebb49a14db9f2eee90932fce78d16.woff2) format('woff2');
}

@font-face {
  font-family: proximaNova;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Proxima%20Nova/673177153f1e793e88431ef3075b282e3e488255.woff2) format('woff2');
}

@font-face {
  font-family: proximaNova;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Proxima%20Nova/a7082275f7512f7c366e32851722b7ee2fab1448.woff2) format('woff2');
}

/* Publico Text */

@font-face {
  font-family: publicoText;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PublicoText/PublicoText-Roman-Cy-Gr-Web.woff2) format('woff2');
}

@font-face {
  font-family: publicoText;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PublicoText/PublicoText-Italic-Cy-Gr-Web.woff2) format('woff2');
}

@font-face {
  font-family: publicoText;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PublicoText/PublicoText-Bold-Cy-Gr-Web.woff2) format('woff2');
}

@font-face {
  font-family: publicoText;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/PublicoText/PublicoText-BoldItalic-Cy-Gr-Web.woff2) format('woff2');
}

/* Quicksand */

@font-face {
  font-family: quicksand;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Quicksand-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: quicksand;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Quicksand-VariableFont_wght.ttf) format('truetype');
}

/* Roboto */

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Roboto/Roboto-Italic.ttf) format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Roboto/Roboto-BoldItalic.ttf) format('truetype');
}

/* SF Pro Text */

@font-face {
  font-family: sfProText;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SF%20Pro%20Fonts/SF-Pro-Text-Regular.otf) format('opentype');
}

@font-face {
  font-family: sfProText;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SF%20Pro%20Fonts/SF-Pro-Text-RegularItalic.otf) format('opentype');
}

@font-face {
  font-family: sfProText;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SF%20Pro%20Fonts/SF-Pro-Text-Bold.otf) format('opentype');
}

@font-face {
  font-family: sfProText;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SF%20Pro%20Fonts/SF-Pro-Text-BoldItalic.otf) format('opentype');
}

/* STBShusong */

@font-face {
  font-family: stbShusong;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/STSong/STSongSC.ttf) format('truetype');
}

/* STSong TC */

@font-face {
  font-family: stsongTC;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/STSong/STSongTC.ttf) format('truetype');
}

/* TBMincho */

@font-face {
  font-family: tbmincho;
  font-style: normal;
  font-weight: 300;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/TBMincho/TBMinchoMedium_213.ttf) format('truetype');
}

@font-face {
  font-family: tbmincho;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/TBMincho/TBMinchoBold_213.ttf) format('truetype');
}

/* Thonburi */

@font-face {
  font-family: thonburi;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Thonburi/Thonburi-01.ttf) format('truetype');
}

@font-face {
  font-family: thonburi;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Thonburi/Thonburi-Bold-02.ttf) format('truetype');
}

/* Times */

@font-face {
  font-family: times;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Times/Times-Roman.ttf) format('truetype');
}

@font-face {
  font-family: times;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Times/Times-Italic.ttf) format('truetype');
}

@font-face {
  font-family: times;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Times/Times-Bold.ttf) format('truetype');
}

@font-face {
  font-family: times;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Times/Times-BoldItalic.ttf) format('truetype');
}

/* Trebuchet MS */

@font-face {
  font-family: trebuchetMS;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Trebuchet%20MS/trebuc.ttf) format('truetype');
}

@font-face {
  font-family: trebuchetMS;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Trebuchet%20MS/trebucit.ttf) format('truetype');
}

@font-face {
  font-family: trebuchetMS;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Trebuchet%20MS/trebucbd.ttf) format('truetype');
}

@font-face {
  font-family: trebuchetMS;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Trebuchet%20MS/trebucbi.ttf) format('truetype');
}

/* Trixi Pro */

@font-face {
  font-family: trixiPro;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Trixi%20Pro%20Regular.ttf) format('truetype');
}

/* SVN-Helvetica Neue */

@font-face {
  font-family: svnHelveticaNeue;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SVN-Helvetica%20Neue/SVN-Helvetica%20Neue.ttf) format('truetype');
}

@font-face {
  font-family: svnHelveticaNeue;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SVN-Helvetica%20Neue/SVN-Helvetica%20Neue%20Italic.ttf) format('truetype');
}

@font-face {
  font-family: svnHelveticaNeue;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SVN-Helvetica%20Neue/SVN-Helvetica%20Neue%20Bold.ttf) format('truetype');
}

@font-face {
  font-family: svnHelveticaNeue;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SVN-Helvetica%20Neue/SVN-Helvetica%20Neue%20Bold%20Italic.ttf) format('truetype');
}

/* SVN-Times New Roman */

@font-face {
  font-family: svnTimesNewRoman;
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SVN-Times%20New%20Roman/SVN-Times%20New%20Roman.ttf) format('truetype');
}

@font-face {
  font-family: svnTimesNewRoman;
  font-style: italic;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SVN-Times%20New%20Roman/SVN-Times%20New%20Roman%20Italic.ttf) format('truetype');
}

@font-face {
  font-family: svnTimesNewRoman;
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SVN-Times%20New%20Roman/SVN-Times%20New%20Roman%20Bold.ttf) format('truetype');
}

@font-face {
  font-family: svnTimesNewRoman;
  font-style: italic;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SVN-Times%20New%20Roman/SVN-Times%20New%20Roman%20Bold%20Italic.ttf) format('truetype');
}
