:root {
  --system-font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantrell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --bs-body-font-family: Roboto, '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

textarea {
  resize: none;
}

.col-0_5 {
  flex: 0 0 auto;
  width: 4.166666665%
}