.com-amazon-kindle-white, .jp-co-amazon-kindle-white {
  --opt-color: #000;
  --opt-background-color: #fff;
  --opt-hyperlink-color: #00f;
}

.com-amazon-kindle-sepia {
  --opt-color: #5f4b32;
  --opt-background-color: #fbf0d9;
  --opt-hyperlink-color: #05a;
}

.jp-co-amazon-kindle-sepia {
  --opt-color: #5f4b32;
  --opt-background-color: #fbf0d9;
  --opt-hyperlink-color: #00f;
}

.com-amazon-kindle-green {
  --opt-color: #3a4b4e;
  --opt-background-color: #c5e7ce;
  --opt-hyperlink-color: #05a;
}

.jp-co-amazon-kindle-green {
  --opt-color: #3a4b4e;
  --opt-background-color: #c5e7ce;
  --opt-hyperlink-color: #00f;
}

.com-amazon-kindle-black {
  --opt-color: #acacac;
  --opt-background-color: #000;
  --opt-hyperlink-color: #8fc0e9;
}

.jp-co-amazon-kindle-black {
  --opt-color: #acacac;
  --opt-background-color: #000;
  --opt-hyperlink-color: #8787ff;
}

.apple-books-original-light {
  --opt-color: #000;
  --opt-background-color: #fff;
  --opt-hyperlink-color: #007aff;
}

.apple-books-original-dark {
  --opt-color: #fff;
  --opt-background-color: #000;
  --opt-hyperlink-color: #009cdb;
}

.apple-books-quiet-light {
  --opt-color: #ebebf5;
  --opt-background-color: #4a4a4d;
  --opt-hyperlink-color: #009ddc;
}

.apple-books-quiet-dark {
  --opt-color: #8d8d92;
  --opt-background-color: #000;
  --opt-hyperlink-color: #009cdb;
}

.apple-books-paper-light {
  --opt-color: #1e1a1a;
  --opt-background-color: #eeeded;
  --opt-hyperlink-color: #0071ed;
}

.apple-books-paper-dark {
  --opt-color: #f2f2f0;
  --opt-background-color: #1c1c1e;
  --opt-hyperlink-color: #009ddc;
}

.apple-books-bold-light {
  --opt-color: #1c1c1e;
  --opt-background-color: #fff;
  --opt-hyperlink-color: #007aff;
}

.apple-books-bold-dark {
  --opt-color: #efeff1;
  --opt-background-color: #000;
  --opt-hyperlink-color: #009cdb;
}

.apple-books-calm-light {
  --opt-color: #34281c;
  --opt-background-color: #f1e2c9;
  --opt-hyperlink-color: #b48128;
}

.apple-books-calm-dark {
  --opt-color: #f9ecdb;
  --opt-background-color: #423b30;
  --opt-hyperlink-color: #009ddc;
}

.apple-books-focus-light {
  --opt-color: #141200;
  --opt-background-color: #fefcf3;
  --opt-hyperlink-color: #bf902e;
}

.apple-books-focus-dark {
  --opt-color: #fff9eb;
  --opt-background-color: #18160c;
  --opt-hyperlink-color: #009ddc;
}

.apple-books-quiet-light .textarea > p > i, .apple-books-quiet-dark .textarea > p > i,
.apple-books-paper-light .textarea > p > i, .apple-books-paper-dark .textarea > p > i,
.apple-books-bold-light .textarea > p > i, .apple-books-bold-dark .textarea > p > i,
.apple-books-calm-light .textarea > p > i, .apple-books-calm-dark .textarea > p > i,
.apple-books-focus-light .textarea > p > i, .apple-books-focus-dark .textarea > p > i {
  font-weight: 300 !important;
}

.bookwalker-white {
  --opt-color: #000;
  --opt-background-color: #fff;
  --opt-hyperlink-color: #00f;
}

.bookwalker-black {
  --opt-color: #d2d2d2;
  --opt-background-color: #000;
  --opt-hyperlink-color: #ebebeb;
}

.bookwalker-sepia {
  --opt-color: #5a4114;
  --opt-background-color: #ebd2a5;
  --opt-hyperlink-color: #50320c;
}

.bookwalker-cream {
  --opt-color: #000;
  --opt-background-color: #ffffe0;
  --opt-hyperlink-color: #32327d;
}

.calibre-black {
  --opt-color: #ffffff;
  --opt-background-color: #000000;
  --opt-hyperlink-color: #4f81bd;
}

.calibre-sepia-dark {
  --opt-color: #F6F3E9;
  --opt-background-color: #39322B;
  --opt-hyperlink-color: #4f81bd;
}

.calibre-sepia-light {
  --opt-color: #39322B;
  --opt-background-color: #F6F3E9;
}

.calibre-system-light {
  --opt-color: #000000;
  --opt-background-color: #ffffff;
}

.calibre-system-dark {
  --opt-color: #ddd;
  --opt-background-color: #111;
  --opt-background-color: #121212;
  --opt-hyperlink-color: #6cb4ee;
}

.calibre-white {
  --opt-color: #000000;
  --opt-background-color: #ffffff;
}

.google-play-books-light {
  --opt-color: #000;
  --opt-background-color: #fff;
  --opt-hyperlink-color: #00f;
}

.google-play-books-dark {
  --opt-color: #ccc;
  --opt-background-color: #000;
  --opt-hyperlink-color: #4747b2;
}

.google-play-books-sepia {
  --opt-color: #2b0d00;
  --opt-background-color: #fffced;
  --opt-hyperlink-color: #09c;
}

.j_novel-white {
  --opt-color: #000;
  --opt-background-color: #fff;
  --opt-hyperlink-color: #00f;
}

.j_novel-sepia {
  --opt-color: #121212;
  --opt-background-color: #faf4e8;
  --opt-hyperlink-color: #00f;
}

.j_novel-gray {
  --opt-color: #c1c1c1;
  --opt-background-color: #303030;
  --opt-hyperlink-color: #00f;
}

.j_novel-black {
  --opt-color: #fff;
  --opt-background-color: #000;
  --opt-hyperlink-color: #00f;
}

.rakuten-kobo-light {
  --opt-color: #000;
  --opt-background-color: #fff;
  --opt-hyperlink-color: #007aff;
}

.rakuten-kobo-sepia {
  --opt-color: #000;
  --opt-background-color: #eaddc7;
  --opt-hyperlink-color: #000;
}

.rakuten-kobo-dark {
  --opt-color: #7a7a7a;
  --opt-background-color: #000;
  --opt-hyperlink-color: #7a7a7a;
}

.rakuten-kobo-charcoal {
  --opt-color: #9d9d9d;
  --opt-background-color: #333;
  --opt-hyperlink-color: #9d9d9d;
}

.waka-white {
  --opt-color: #231f20;
  --opt-background-color: #fff;
  --opt-hyperlink-color: #231f20;
}

.waka-gray {
  --opt-color: #d2d3d5;
  --opt-background-color: #525355;
  --opt-hyperlink-color: #d2d3d5;
}

.waka-sepia {
  --opt-color: #5b4635;
  --opt-background-color: #f4ebd8;
  --opt-hyperlink-color: #5b4635;
}

.waka-black {
  --opt-color: #f9f9f9;
  --opt-background-color: #231f20;
  --opt-hyperlink-color: #f9f9f9;
}

.xbreader-white {
  --opt-color: #000;
  --opt-background-color: #fff;
}

.xbreader-sepia {
  --opt-color: #000;
  --opt-background-color: #faf4e8;
}

.xbreader-gray {
  --opt-color: #fff;
  --opt-background-color: #303030;
}

.xbreader-black {
  --opt-color: #fff;
  --opt-background-color: #000;
}