/* App Viewer module

   A set of styles for ePublications */

:root {
  /* Optimal line-length */
  --maxLineLength: 1000px;

  /* Default page horizontal margins */
  --marginHorizontal: 12px;
}

/* Reset page margins for Forward compatibility */
@page {
  margin: 0 !important;
}

:root {
  /* Prevents options pop-up when long tap in webkit */
  -webkit-touch-callout: none;

  font-size: 18px !important;

  /* In case you use left position to scroll, can be removed if using transform: translateX() */
  position: relative;

  /* Switch to newer box model (not inherited by authors’ styles) */
  box-sizing: border-box;

  -webkit-text-size-adjust: 100%;
}

:lang(ja)
:not(input)
:not(select) {
  font-size: 16px !important;
}

body {
  /* Limit line-length.
     By using max-width + margin auto, margins will shrink when font-size increases,
     which is what would be expected in terms of typography. */
  max-width: var(--maxLineLength) !important;
  margin: 0 auto !important;

  /* We need a minimum padding on body so that descandants/ascendants in italic/script are not cut-off.
     Drawback: we have to use border-box so that it doesn’t screw the box model,
     which means it impacts max-width */
  box-sizing: border-box;
  padding: 48px var(--marginHorizontal) 18px !important;
}

@media (max-width: 1000px) {
  :root {
    --marginHorizontal: 8px;
  }

  body {
    margin: 5.75px 0.5px 8.5px !important;
    padding: 18.75px var(--marginHorizontal) 18.75px !important;
  }
}

/* Make sure line-length is limited in all configs */
:root body {
  --maxLineLength: 1000px !important;
}