/* Black theme

   A preset theme for black theme */


/* CONFIG */

:root[style*="black-theme"] {
  --backgroundColor: #000000;
  --textColor: #FEFEFE;

  --linkColor: #63caff;
}

/* we don’t need to redeclare bg-color and color for :root since we will inherit and update from white/default theme */

:root[style*="black-theme"] *:not(a) {
  background-color: transparent !important;
  color: inherit !important;
  border-color: currentColor !important;
}

:root[style*="black-theme"] a:link,
:root[style*="black-theme"] a:link *,
:root[style*="black-theme"] a:visited,
:root[style*="black-theme"] a:visited * {
  color: var(--linkColor) !important;
}