/* Black theme

   A preset theme for black theme */


/* CONFIG */

:root[style*="black-theme"] {
  --backgroundColor: #000000;
  --textColor: #d2d2d2;

  --linkColor: #ebebee;
}

:root[style*="black-theme"] a:link,
:root[style*="black-theme"] a:link *,
:root[style*="black-theme"] a:visited,
:root[style*="black-theme"] a:visited * {
  color: var(--linkColor) !important;
}