/* Browser Viewer module

   A set of styles for ePublications */

:root {
  /* Optimal line-length */
  --maxLineLength: 1000px;

  /* Default page horizontal margins */
  --marginHorizontal: 8px;
}

/* Reset page margins for Forward compatibility */
@page {
  margin: 0 !important;
}

:root {
  /* Prevents options pop-up when long tap in webkit */
  -webkit-touch-callout: none;

  font-size: 22px !important;

  /* In case you use left position to scroll, can be removed if using transform: translateX() */
  position: relative;

  /* Switch to newer box model (not inherited by authors’ styles) */
  box-sizing: border-box;

  -webkit-text-size-adjust: 100%;
}

body {
  /* Limit line-length.
     By using max-width + margin auto, margins will shrink when font-size increases,
     which is what would be expected in terms of typography. */
  max-width: var(--maxLineLength) !important;
  margin: 0 auto 20.4px !important;

  /* We need a minimum padding on body so that descandants/ascendants in italic/script are not cut-off.
     Drawback: we have to use border-box so that it doesn’t screw the box model,
     which means it impacts max-width */
  box-sizing: border-box;
  padding: 0 var(--marginHorizontal) 31.200000000000003px !important;
}

@media (max-width: 1000px) {
  :root {
    --marginHorizontal: 10px;
  }

  :root {
    font-size: 12px !important;
  }

  :lang(ja)
  :not(input)
  :not(select) {
    font-size: 14px !important;
  }

  body {
    margin: 0 auto 55.199999999999996px !important;
    padding: 0 var(--marginHorizontal) 21.000000000000007px !important;
  }
}

/* Make sure line-length is limited in all configs */
:root body {
  --maxLineLength: 1000px !important;
}