/* Sepia theme

   A preset theme for sepia theme */


/* CONFIG */

:root[style*="sepia-theme"] {
  --backgroundColor: #ebd2a5;
  --textColor: #5a4114;

  --linkColor: #50320c;

  --maxLineLength: 40.4476rem; /* Forcing a reflow in Blink/Webkit so that blend mode can work */
}

/* we don’t need to redeclare bg-color and color for :root since we will inherit and update from white/default mode */

:root[style*="sepia-theme"] *:not(a) {
  background-color: inherit !important;
  color: inherit !important;
}

:root[style*="sepia-theme"] a:link,
:root[style*="sepia-theme"] a:link *,
:root[style*="sepia-theme"] a:visited,
:root[style*="sepia-theme"] a:visited * {
  color: var(--linkColor);
}