/* Reader module

   A set of styles for ePublications */

:root {
  /* Optimal line-length (rem will take :root font-size into account, whatever the body’s font-size) */
  --maxLineLength: 40.4375rem;

  /* Default page horizontal margins (in pixels so that it won’t resize with font-size) */
  --pageGutter: 8px;
}

/* Reset page margins for Forward compatibility */
@page {
  margin: 0 !important;
}

:root {
  /* Prevents options pop-up when long tap in webkit */
  -webkit-touch-callout: none;

  /* Fix bug for older Chrome */
  -webkit-perspective: 1;

  font-size: 100% !important;

  /* In case you use left position to scroll, can be removed if using transform: translateX() */
  position: relative;

  /* Switch to newer box model (not inherited by authors’ styles) */
  box-sizing: border-box;

  -webkit-text-size-adjust: 100%;
}

body {
  /*  overflow: hidden; bugfix: contents won’t paginate in Firefox and one sample in Safari */
  width: 100%;

  /* Limit line-length.
     By using max-width + margin auto, margins will shrink when font-size increases,
     which is what would be expected in terms of typography. */
  max-width: var(--maxLineLength) !important;
  margin: 0 auto !important;

  /* We need a minimum padding on body so that descandants/ascendants in italic/script are not cut-off.
     Drawback: we have to use border-box so that it doesn’t screw the box model,
     which means it impacts max-width */
  box-sizing: border-box;
  padding: 0 var(--pageGutter) !important;
}

/* Make sure line-length is limited in all configs */
:root body {
  --maxLineLength: 40.4375rem !important;
}