/* Config module

   A file allowing implementers to customize flags for reading modes,
   user settings, etc. */

/* Custom medias
   Syntax: @custom-media --variable (prop: value) */

/* Reading Modes */
@custom-selector :--sepia-theme [style*="sepia-theme"];
@custom-selector :--black-theme [style*="black-theme"];