/* EBPAJ Fonts Patch module

   A stylesheet improving EBPAJ @font-face declarations to cover all platforms */

/* EBPAJ template only references fonts from MS Windows…
   so we must reference fonts from other platforms 
   and override authors’ stylesheets.
   What we do there is keeping their default value and providing fallbacks.
   
   /!\ /!\ /!\ /!\ /!\
   FYI, you might want to load this polyfill only if you find
   one of the following metadata items in the OPF package:
   - version 1: 
     <dc:description id="ebpaj-guide">ebpaj-guide-1.0</dc:description>
   - version 1.1: 
     <meta property="ebpaj:guide-version">1.1</meta> 
 */

 @font-face {
  font-family: "serif";
  src: local("Iowan Old Style"),
       local("Sitka Text"),
       local("Palatino"),
       local("Book Antiqua");
}

@font-face {
  font-family: "sans-serif";
  src: local("Segoe UI"),
       local("Roboto"),
       local("Helvetica Neue"),
       local("Arial");
}

/* 横組み用 (horizontal writing) */

@font-face {
  font-family: "serif-ja";
  src: local("游明朝"),
       local("YuMincho"),
       local("Hiragino Mincho ProN"),
       local("MS Mincho");
}

@font-face {
  font-family: "sans-serif-ja";
  src: local("游ゴシック"),
       local("YuGothic"),
       local("Hiragino Sans"),
       local("MS Gothic");
}

/* 縦組み用 (vertical writing) */

@font-face {
  font-family: "serif-ja-v";
  src: local("游明朝"),
       local("YuMincho"),
       local("Hiragino Mincho ProN"),
       local("MS Mincho");
}

@font-face {
  font-family: "sans-serif-ja-v";
  src: local("游ゴシック"),
       local("YuGothic"),
       local("Hiragino Sans"),
       local("MS Gothic");
}