/* Fonts Patch module

   A stylesheet improving @font-face declarations to cover all platforms */

@font-face {
  font-family: "serif";
  src: url("https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/IowanOldStBTRoman.ttf") format("truetype");
}

@font-face {
  font-family: "sans-serif";
  src: url("https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SFProText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "serif";
  src: url("https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/IowanOldStBTItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "sans-serif";
  src: url("https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SFProText-RegularItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "serif";
  src: url("https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/IowanOldStBTBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "sans-serif";
  src: url("https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SFProText-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "serif";
  src: url("https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/IowanOldStBTBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "sans-serif";
  src: url("https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SFProText-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

/* 横組み用 (horizontal writing) */

@font-face {
  font-family: "serif-ja";
  src: url("https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Hiragino%20Mincho%20ProN%20W3.otf") format("opentype");
}

@font-face {
  font-family: "sans-serif-ja";
  src: url("https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Hiragino%20Maru%20Gothic%20ProN%20W4.otf") format("opentype");
}

/* 縦組み用 (vertical writing) */

@font-face {
  font-family: "serif-ja-v";
  src: url("https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Hiragino%20Mincho%20ProN%20W3.otf") format("opentype");
}

@font-face {
  font-family: "sans-serif-ja-v";
  src: url("https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Hiragino%20Maru%20Gothic%20ProN%20W4.otf") format("opentype");
}