.body
{
line-height: 1.2em;
font-size: 1em;
}


span.special
{
font-family: sans-serif-ja;
}

h1.chapter-number {
font-family: sans-serif-ja;
}

h1.appendix-title1 {
font-family: sans-serif-ja;
}


.galley-rw
{
font-family: serif-ja;
}

span.roman
{
font-family: sans-serif-ja;
}

div.ecom_a
{
font-family: sans-serif-ja;
}