.body
{
line-height: 1.2em;
font-size: 1em;
}


span.special
{
font-family: sans-serif-ja;
font-weight:bold;
font-size: 0.85em;
}

span.special1
{
font-family: sans-serif-ja;
}


span.special2
{
font-family: sans-serif-ja;
font-size:1.1em;
}



.galley-rw
{
font-family: serif-ja;
font-size: 1em;
font-weight: normal;
letter-spacing: 0em;
line-height: 1.2em;
margin: 0em;
orphans: 1;
padding: 0em;
text-align: justify;
widows: 1;
word-spacing: 0em;
}

span.font
{
font-size:1em;
font-family:sans-serif-ja;
font-weight:bold;
}


span.san
{
font-family: sans-serif-ja;
font-weight:bold;
font-size: 0.85em;
}
