.body
{
line-height: 1.2em;
font-size: 1em;
}
.space-break1s {
font-family:sans-serif-ja;
}

p.blockquote-indentedpara {
font-family:sans-serif-ja;
}
h1.chapter-number
{
font-family: sans-serif-ja;
}

h1.chapter-title
{
font-family: sans-serif-ja;
}
h1.chapter-titlea
{
font-family: sans-serif-ja;
}

h1.appendix-title
{
font-family: sans-serif-ja;
}


.toc-chapter1
{
font-family:sans-serif-ja;
}

.toc-chapter
{
font-family:sans-serif-ja;
}

.copyright-space
{
font-family: sans-serif-ja;
}

.copyright
{
font-family: sans-serif-ja;
}

.copyrighta
{
font-family: sans-serif-ja;
}




.copyright-spacea
{
font-family: sans-serif-ja;
}



.toc-front
{
font-family:sans-serif-ja;
}

.galley-rw
{
font-family: serif-ja;
}
.HW {
font-family:sans-serif-ja;
}
span.WL
{
font-family:sans-serif-ja;
}
.space-break1s1 {
font-family:sans-serif-ja;
}
.copyright1
{
font-family: sans-serif-ja;
}