@import '../fonts/YuGothic-Medium.css';
@import '../fonts/Yumin.css';

body, div {
  background-color: black;
  color: #d2d2d2;
  font-family: 'Yu Mincho Regular', serif-ja, serif;
  font-size: 12px;
}

.mfont {
  font-family: 'Yu Mincho Regular', serif-ja, serif;
}

.gfont {
  font-family: 'Yu Gothic Medium', sans-serif-ja, sans-serif;
}

a:link, a:visited, a:hover, a:focus, a:active {
  color: #ebebeb;
  text-decoration: underline;
}