body {
  background-color: black;
  color: #d2d2d2;
  font-family: serif-ja, serif;
  font-size: 12px;
}

a:link, a:visited, a:hover, a:focus, a:active {
  color: #ebebeb;
  text-decoration: underline;
}