div {
  --default-margin: 8px;
  --margin: var(--default-margin);
}

div.nomargin, div section div.main, div nav {
  max-width: calc(100vw - var(--margin) * 2);
}

@media only screen and (min-width: 751px) {
  div {
    --margin: 36px;
  }

  div.nomargin, div section div.main, div nav {
    padding: var(--default-margin) var(--margin);
  }
}

@media only screen and (max-width: 750px) {
  div.nomargin, div section div.main, div nav {
    padding: var(--margin);
  }
}

div section img.cover, div section div img.insert {
  max-height: calc(98vh - var(--default-margin) * 2) !important;
}