body {
  margin: 0;
}

div {
  --default-margin: 8px;
  --margin: var(--default-margin);
}

div div.galley-rw section, #toc, #nav {
  width: calc(100vw - var(--margin) * 2);
}

@media only screen and (min-width: 751px) {
  div {
    --margin: 36px;
  }

  div section div.cover_image img, div section div.image_full img, div div.galley-rw section, #toc, #nav {
    padding: var(--default-margin) var(--margin);
  }
}

@media only screen and (max-width: 750px) {
  div section div.cover_image, div section div.image_full, div div.galley-rw section, #toc, #nav {
    padding: var(--margin);
  }
}

div section div.cover_image img, div section div.image_full img {
  max-height: calc(95vh - var(--default-margin) * 2);
}