/* 
   EBPAJ Fonts Patch
*/

/* 横組み用 (horizontal writing) */

@font-face {
  font-family: "serif-ja";
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/HiraMinProN-W3-AlphaNum-01.otf) format('opentype');
}

@font-face {
  font-family: "serif-ja";
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/Hiragino%20Mincho%20ProN%20W6.otf) format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: "sans-serif-ja";
  src: url(https://github.com/DoHoaiNam914/CDN/raw/main/phong-chu/HiraKakuProN-W3.otf) format('opentype');
}

@font-face {
  font-family: "sans-serif-ja";
  src: url(https://github.com/DoHoaiNam914/CDN/raw/main/phong-chu/HiraKakuProN-W6.otf) format('opentype');
  font-weight: bold;
}

/* 縦組み用 (vertical writing) */

@font-face {
  font-family: "serif-ja-v";
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/HiraMinProN-W3-AlphaNum-01.otf) format('opentype');
}

@font-face {
  font-family: "serif-ja-v";
  src: url(https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/HiraMinProN-W6-AlphaNum-03.otf) format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: "sans-serif-ja-v";
  src: url(https://github.com/DoHoaiNam914/CDN/raw/main/phong-chu/HiraKakuProN-W3.otf) format('opentype');
}

@font-face {
  font-family: "sans-serif-ja-v";
  src: url(https://github.com/DoHoaiNam914/CDN/raw/main/phong-chu/HiraKakuProN-W6.otf) format('opentype');
  font-weight: bold;
}