@font-face {
  font-family: 'SF Pro';
  src: url('https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro';
  src: url('https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SF-Pro-Text-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'SF Pro';
  src: url('https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SF-Pro-Text-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro';
  src: url('https://raw.githubusercontent.com/DoHoaiNam914/CDN/main/phong-chu/SF-Pro-Text-RegularItalic.otf') format('opentype');
  font-style: italic;
}