
img#cover_image:only-of-type { /*overrides the previous setting, but only in newer systems that support CSS3 */
    height: 99vh;
}
body.cover {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom:0px;
	text-align: center;
}
div.cover {
	text-align: center;
}
a {
	text-decoration: none;
}
body {
	line-height: 1.25;
}


span.Apple_Symbols_Regular_28 {
	font-family:sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.PrioriSerBold_Bold_B_28 {
	font-family:serif;
	font-style:normal;
	font-weight:bold;
}
span.SyndorOSITC-Medium_Regular_28 {
	font-family:serif;
	font-style:normal;
	font-weight:500;
}
span.symbol_ITAL {
	font-family:sans-serif;
	font-style:normal;
	font-weight:normal;
}
img.img1 {
	max-width : 100%;
	max-height : 100%;
}
img.copy {
	width:6em;
}
img.orn {
	width:1em;
}
img.orn1 {
	width:4em;
}
p.LI_SBI {
	display:block;
	margin-bottom:12px;
	margin-left:0em;
	margin-right:0em;
	margin-top:12px;
	text-align:center;
	text-indent:0em;
}
h1.BMH {
	font-family:serif;
	font-size:1.5em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:120px;
	margin-left:0em;
	margin-right:0em;
	margin-top:100px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.CA {
	font-family:serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:right;
	text-decoration:none;
	text-indent:0em;
}
span.CN, h1.CN {
	font-family:serif;
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:120px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	display:block;
}
p.COTX {
	font-family:serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.CRT {
	font-family:serif;
	font-size:0.583em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
}
p.CRT-alt {
	font-family:serif;
	font-size:0.583em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:8px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
}
p.CRT-alt2 {
	font-family:serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:8px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
}
p.CRTF {
	font-family:serif;
	font-size:0.583em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:8px;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
}
p.CRT_CIP {
	font-family:serif;
	font-size:0.583em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0.7em;
	margin-right:0em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:-0.7em;
}
p.CRT_CIPF {
	font-family:serif;
	font-size:0.583em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0.7em;
	margin-right:0em;
	margin-top:10px;
	text-align:left;
	text-decoration:none;
	text-indent:-0.7em;
}
span.CT, h1.CT {
	font-family:serif;
	font-size:1.5em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:120px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	display:block;
}
div.LI_SB {
	font-family:serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:15px;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
}
p.LI_SB {
	font-family:serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
}
p.LI_SB_2 {
	font-family:serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:14px;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
}
p.SBORN {
	font-family:serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:10px;
	margin-left:0em;
	margin-right:0em;
	margin-top:10px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
p.TX {
	font-family:serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0.9em;
}
p.TX1 {
	font-family:serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
h3.center {
	margin-top:2em;
	margin-bottom:1em;
}
a.signUpLink {
	color:white;
	text-decoration:none;
}
p#button {
	margin-top:2em;
	margin-bottom:2em;
	text-align:center;
}
.center {
	text-align:center;
}
p.center {
	text-align:center;
	margin: 0;
}
span.signUpButton {
	width:160px;
	height:40px;
	border-radius:5px;
	background:rgb(106,115,123);
	padding:8px 24px;
	text-decoration: none;
	font-size:large;
	border:1px solid #444;
	font-family:Helvetica;
}
ul {
    padding-left: 0em;
    margin-left: 0em;
}
small {
    font-size: 85%;
}
blockquote {
    margin: 0em 0em 0em 0em;
}
sup {
    vertical-align: super;
    font-size: 0.65em;
    vertical-align: 35%;
}
sub {
    vertical-align: sub;
    font-size: 0.65em;
    vertical-align: -21%;
}
hr.transition_sb {
	width: 0;
	margin: 0.5em 0;
	border: none;
}
figure.IMG {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0em;
	margin-right: 0em;
	text-align: center;
	text-indent:0em;
}
figure.IMGL {
	display: block;
	margin-top: 80px;
	margin-bottom: 10px;
	margin-left: 0em;
	margin-right: 0em;
	text-align: left;
	text-indent:0em;
}
ol.none {
	list-style-type:none;
	text-indent:0em;
}
h1.CHAPTER {
	font-size:100%;
	margin:0em;
	text-indent:0em;
	display:inline;
}
h3.center {
margin-top:2em;
margin-bottom:1em;
}
a.signUpLink {
color:white;
text-decoration:none;
}
p#button {
margin-top:2em;
margin-bottom:2em;
text-align:center;
}
.center {
text-align:center;
}
p.center {
text-align:center; margin: 0;
}
span.signUpButton {width:160px;height:40px;border-radius:5px;background:rgb(106,115,123);padding:8px 24px;text-decoration: none;font-size:large;border:1px solid #444; font-family:Helvetica;}
span.signUpButton:active {background:#555;}

h1.FMH {
	font-family:serif;
	font-size:1.5em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:120px;
	margin-left:0em;
	margin-right:0em;
	margin-top:100px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
}
ol.toc {
    padding-top : 0em;
    padding-right: 0em;
    padding-bottom : 0em;
    padding-left : 0em;
    margin-top : 0em;
    margin-right : 0em;
    margin-bottom : 0em;
    margin-left : 0em;
    list-style-type : none;
}

li.CCT0 {
	font-family:serif;
	font-size:0.8em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:15px;
	margin-left:0em;
	margin-right:0em;
	margin-top:3px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
li.CCT-1 {
	font-family:serif;
	font-size:0.8em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:7px;
	margin-left:0em;
	margin-right:0em;
	margin-top:15px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
li.CCT0b {
	font-family:serif;
	font-size:0.8em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:3px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
li.CCT0a {
	font-family:serif;
	font-size:0.8em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:15px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}

li.CCT {
	font-family:serif;
	font-size:0.8em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:7px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}

img {
	max-width : 100%;
	max-height : 100%;
}
p.CRT-1 {
	font-family:serif;
	font-size:0.583em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
}
