@import "xbstyles.css";
@import url(https://fonts.googleapis.com/css2?family=Andika&family=Arbutus+Slab&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Literata:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@300;400;500;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap);

body {
  background-color: #303030;
  color: white;
}

div.nomargin {
  margin: 0em;
  padding: 0em;
}

div.center {
  text-align: center;
}

.main {
  break-after: column;
  -webkit-column-break-after: column;
  font-size: 110%;
  font-family: "Crimson Text";
  line-height: 1.3em;
  text-align: start;
}

@media only screen and (min-width: 751px) {
  .main {
    margin: 80px;
  }

  img {
    max-height: calc(100vh - 80px);
  }
}

hr {
  border-top: 1px solid #fff;
}