@import "xbstyles.css";
@import url(https://fonts.googleapis.com/css2?family=Andika&family=Arbutus+Slab&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Literata:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@300;400;500;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap);

body {
  background-color: rgb(48, 48, 48);
  color: rgb(255, 255, 255);
}

div.nomargin {
  margin: 0em;
  padding: 0em;
}

div.center {
  text-align: center;
}

section {
  --default-margin: 40px;
  --margin: var(--default-margin);
}

div.nomargin section, div.center section {
  width: calc(100% - var(--margin) * 2);
  padding: var(--margin);
}

.main {
  break-after: column;
  -webkit-column-break-after: column;
  width: calc(100% - var(--margin) * 2);
  --xb-margin: var(--default-margin);
  --xb-font-size: 110%;
  --xb-font-family: "Crimson Text";
  --xb-line-height: 1.3em;
  --xb-text-align: start;
  --xb-color: #fff;
  --xb-background: #303030;
  padding: var(--margin);
}