@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  border-style: none;
  border: 0;
}

h1 {
  font-weight: 400 !important;
}

li {
  list-style: none outside;
}

section, article, nav, aside, header, footer, figure, figcaption { 
  display: block;
}

body {
  background-color: rgb(48, 48, 48);
  color: rgb(255, 255, 255);
}

div {
  --default-margin: 40px;
  font-family: 'Crimson Text', serif;
  color: #fff;
  background: #303030;
  text-align: start;
}

@media only screen and (min-width: 751px) {
  section, nav {
    --margin: 180px;
    padding: var(--default-margin) var(--margin);
  }
}

@media only screen and (max-width: 750px) {
  section, nav {
    --margin: var(--default-margin);
    padding: var(--margin);
  }
}

section, nav {
  width: calc(100% - var(--margin) * 2);
}

img {
  max-height: calc(98vh - var(--default-margin) * 2) !important;
}
