@import url(https://fonts.googleapis.com/css2?family=Andika&family=Arbutus+Slab&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Literata:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@300;400;500;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap);

* {
    margin: 0;
    padding: 0;
    border-style: none;
    border: 0;
}

h1.* {
    font-weight: 400;
}

li.* {
    list-style: none outside;
}

section.*, article.*, nav.*, aside.*,
header.*, footer.*,
figure.*, figcaption.* { 
    display: block;
}

body {
  background-color: rgb(48, 48, 48);
  color: rgb(255, 255, 255);
}

div {
  font-family: 'Crimson Text', serif;
  color: #fff;
  background: #303030;
  text-align: start;
}

section, nav {
  --default-margin: 40px;
  --margin: var(--default-margin);

  width: calc(100% - var(--margin) * 2);
  padding: var(--margin);
}

img.* {
  max-height: calc(98vh - var(--default-margin) * 2);
  max-width: 100%;
}
